<!DOCTYPE html>
<html>
  <head>
    <title>MY WEB -- HOME PAGE</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="../../static/style.css" type="text/css" />
    <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
  </head>
  <body>
    <ul>
      <!--Happy New Year-->
      <li><a href = "happy_new_year.html">HAPPY NEW YEAR</a></li>
      <!--Quick Eats-->
      <li><a href = "quick_eats.html">QUICK EATS</a></li>
      <!--Keyboard Hero-->
      <li><a href = "keyboard_hero.html">KEYBOARD HERO</a></li>
    </ul>
  </body>
</html>
