<!DOCTYPE html>
<html>
  <head>
    <title>MY WEB -- HOME PAGE</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="../../static/style.css" type="text/css" />
    <script src="{{url_for('static', filename='jquery-3.4.1.js')}}"></script>
  </head>
  <body>
    <ul>
    <!--Beijing-->
      <li><a href = "/templates/my_plans/Beijing.html">2019 Beijing</a></li>
    <!--2022.1.16-->
      <li><a href = "/templates/my_plans/Xinjiang.html">2024 Xinjiang</a></li>
    </ul>
  </body>
</html>